:root {
    --midnightblue: #03001d;
    --royalblue: #06327f;
    --crimson: #d4002a;
    --snow: #fffafa;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--midnightblue);
}

.hero-container {
    width: 100%;
    background-color: gray;
    height: 300px;
}

.form-container,
.register-container,
.logo {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.form-container,
.login-container,
.container {
    flex-direction: column;
}

.login,
.btn-btn-primary,
.submit {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: var(--snow);
    font-size: 20px;
    width: 187px;
    height: 44px;
    margin: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, var(--crimson), var(--royalblue))
        border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

input,
label {
    max-width: 300px;
    height: 50px;
    font-size: 30px;
    margin: 5px;
    color: var(--snow);
}

p,
h1 {
    text-align: center;
    color: var(--snow);
    font-size: 32px;
}

.logo {
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.footer {
    width: 50px;
    height: 50px;
    background-color: var(--crimson);
}

/* Leaderboard */

.leaderboard-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-container {
    text-align: center;
    width: 100%;
    overflow-x: scroll;
}

.leaderboard {
    color: var(--snow);
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.leaderboard-head {
    background-color: var(--crimson);
    margin: 15px;
    width: 1000px;
}

.leaderboard-body {
    background-color: var(--crimson);
    width: 1000px;
}

th,
td {
    padding: 8px;
}
th {
    text-align: left;
}
